*{
    margin:0px;
    padding:0px;
    /* box-sizing: border-box; */
}

/* profile picture, name, nav bar styling */
.headshot{
    border-radius: 50%;
}

/* TODO: h1 tag will not update to center! */
header{
    margin-top: 300px;
    text-align: center;
}

h1{
    padding:40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:48px;
    font-weight:200;
    letter-spacing: 25px;
    text-align:center;
    font-variant: small-caps;
}

nav {
    padding-bottom: 50px;
    text-align:center;
    letter-spacing: 5px;
    /* width: 100%;
    overflow: auto; */
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
    text-decoration: none;
    padding: 5px 3px 3px 5px;
    /* width:auto; */
    margin: 20px;
    color:darkgrey;
}

/* navigation bar clicks */
nav a:visited {
    color: darkgrey;
}

nav a:hover {
    color: lightgray;
    background-color: rgba(211, 211, 211, 0.39);
    border-radius: 4px;
}

nav a:focus {
    background-color: rgba(211, 211, 211, 0.39);
    color: darkgrey;
    border-radius: 10px;
}

nav a:active {
    background-color: rgba(211, 211, 211, 0.39);
    color: white;
}

nav a {
    font-variant: small-caps;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-align: center;
}

/* main body: about me, projects, and text */
body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(128, 128, 128, 0.144);
    color: rgba(0, 0, 0, 0.644);
    line-height: 1.5;
}

.about-me{
padding-top: 40px;;
}

.about {
    text-align: center;
    padding: 5px 50px 5px 50px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h2 {
    text-align: center;
    padding:30px 0px 5px 0px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

/* project containers, and text */
.project-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
    text-align: center;
    
}

.project-container>div>.featured-project,
.project-container>div>.secondary-project,
.project-container>div>.third-project,
{
    box-sizing: border-box;
    margin: 5px;
    outline:auto;
    outline-color: gray;
    outline-width: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color:lightgray; */
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 5px 5px 5px 5px; 
    background-color: white;
    opacity: 40%;
    font-variant: small-caps;
    letter-spacing: 3px;
}

.featured-project{
    display: block;
    width:100%;
    height:300px;
    padding:50px 0px 50px 0px;
    background-image: url(https://www.meme-arsenal.com/memes/6cc721bdb9bc08ddac22ae3f762bb308.jpg);
    background-size: cover;
    background-image:
}

.secondary-project{
    display: block;
    flex-basis:48%;
    margin:10px 0px 10px 0px;
    padding:80px 0px 80px 0px;
    background-image: url(https://www.meme-arsenal.com/memes/6cc721bdb9bc08ddac22ae3f762bb308.jpg);
    background-size: cover;
}

.third-project{
    display: block;
    flex-basis: 48%;
    margin:10px 0px 10px 0px;
    padding:80px 0px 80px 0px;
    background-image: url(https://www.meme-arsenal.com/memes/6cc721bdb9bc08ddac22ae3f762bb308.jpg);
    background-size: cover;
}

/* contact section and links*/
#contact-me {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: block;
    flex-basis:48%;
    margin:10px 0px 10px 0px;
    box-sizing:border-box;
    text-decoration: none;
}

p{
    display: inline-block;
    text-align: center;
    padding: 20px 5px 20px 5px;
    font-weight: 100;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    font-size: 14px;
    text-decoration: none;
}

i {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

#contact-me>div {
    display: inline-block;
}

#contact-me>a {
    padding: 5px 0px 5px 0px;
    margin: 0px;
    color: darkgrey;
    font-variant:small-caps;
    letter-spacing: 3px;
    width: auto;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
}

#contact-me>a>div:hover {
    color: lightgray;
    background-color: rgba(211, 211, 211, 0.39);
    border-radius: 2px;
}

#contact-me>a>div:visited {
    color: darkgrey;
}

#contact-me>a>div:focus {
    background-color: rgba(211, 211, 211, 0.39);
    color: darkgrey;
    border-radius: 5px;
}

#contact-me>a>div:active {
    background-color: rgba(211, 211, 211, 0.39);
    color: white;
}


/* media queries */
@media screen and (max-width:870px){
    nav a {
        display: block;
        float: none;
    }
}

@media screen and (max-width:970px){
    #contact-me a {
        display:inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        float: none;
        justify-items: center;
        align-items:center; }

    /* header {
        text-align: center;
    }     */
}
/* 
@media screen and (max-width:1150){
    .name {
        font-size: 18px;
    }
    
} */