*{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --background: rgba(128, 128, 128, 0.144);
    --navhoverback: rgba(211, 211, 211, 0.39);
    --navalink: var(--navalink);
}

/* profile picture, name, nav bar styling */
.headshot{
    border-radius: 50%;
    filter: grayscale(1);
    transition: 253ms ease;
}

.headshot:hover{
    filter:none;
}

header{
    margin: 150px 0px 50px 0px;
    text-align: center;
}

h1{
    padding:40px;
    font-family:'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-size:48px;
    font-weight:200;
    letter-spacing: 25px;
    text-align:center;
    font-variant: small-caps;
    font-weight: 200;
}

nav {
    padding-bottom: 10px;
    text-align:center;
    letter-spacing: 5px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    margin: 20px;
    color:var(--navalink);
    text-align: center;
    font-variant: small-caps;
    font-size: 18px;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    text-align: center;
}

/* navigation bar clicks */
nav a:visited {
    color: var(--navalink);
}

nav a:hover {
    color: grey;
    font-weight: bold;
    background-color: var(--navhoverback);
    border-radius: 4px;
    transition: 253ms ease;
    
}

nav a:focus {
    background-color: var(--navhoverback);
    color: var(--navalink);
    border-radius: 10px;
    
}

nav a:active {
    background-color: var(--navhoverback);;
    color: white;
    
}

/* main body: about me, projects, and text */
body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: var(--background);
    line-height: 1.5;
}

/* about me section */
.about-me {
padding: 10px 0px 100px 0px;
}

/* about me paragraph */
.about {
    text-align: center;
    padding: 5px 70px 5px 70px;
    font-weight: 100;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    
}

strong{
    font-size: larger;
}

#project-hide, 
#about-hide {
    margin-left: 100px;
    margin-right: 100px;
}


h2 {
    text-align: center;
    font-variant: small-caps;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    letter-spacing: 10px;
    font-size:20px;
}

/* project containers, and text */
.project-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
    text-align: center;
    margin-bottom: 100px;
}

/* not sure why this makes everything weird? */
/* .first-project-link{
    color:white;
} */

/* projects' links' text formatting */
.first-project-link, 
.secondary-project-link,
.third-project-link{
    color: rgba(0, 0, 0, 0.877);
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: right;
    padding: 5px 5px 5px 5px; 
    /* background-color: rgba(255, 255, 255, 0.027); */
    opacity: 70%;
    font-variant: small-caps;
    letter-spacing: 3px;
    text-decoration: none;
    transition: 253ms ease;
}

h3{
    background-color: rgba(255, 255, 255, 0.315);
    padding-right: 20px;
}

a:hover h3 {
    background-color: transparent;
}

/* sets up featured project sizing */
.first-project-link{
    display: block;
    width:100%;
    height:400px;
    padding:0px 0px 50px 0px;
    /* background-image: url(https://www.meme-arsenal.com/memes/6cc721bdb9bc08ddac22ae3f762bb308.jpg); */
    background-size: cover;
    border-radius: 3px;
    transition: 253ms ease-out;
    overflow-y:scroll;
    filter: grayscale(1);

}

/* sets up second project sizing */
/* .secondary-project-link{ */
    /* display: block; */
    /* height: 300px; */
    /* flex-basis:48%; */
    /* margin:10px 0px 10px 0px; */
    /* padding:80px 0px 80px 0px; */
    /* background-image: url(https://www.meme-arsenal.com/memes/6cc721bdb9bc08ddac22ae3f762bb308.jpg); */
    /* background-size: cover; */
    /* overflow-y: scroll; */
/* } */

.secondary-project-link,
.third-project-link{
    display: block;
    height: 300px;
    flex-basis: 48%;
    /* margin:10px 0px 10px 0px; */
    /* padding:80px 0px 80px 0px; */
    /* background-image: url(https://www.meme-arsenal.com/memes/6cc721bdb9bc08ddac22ae3f762bb308.jpg); */
    background-size: cover;
    border-radius: 3px;
    transition: 253ms ease;
    overflow-y:scroll;
    filter: grayscale(1);
}


/* project link hovers */
/* .first-project-link:hover{ */
    /* background-image: url(https://www.meme-arsenal.com/memes/6cc721bdb9bc08ddac22ae3f762bb308.jpg); */
    /* background-size: cover; */
    /* background-position: top; */
    /* overflow: scroll; */
    /* color: rgba(0, 0, 0, 0.324); */
    /* font-weight: bold; */
    /* overflow-y:scroll ; */
/* } */

.secondary-project-link:hover{
    /* background-image: url(./images/weather-dash.png); */
    background-size: cover;
    background-position: top;
    /* color: rgba(0, 0, 0, 0); */
    font-weight: bold;
    overflow-y:scroll ;
}

.third-project-link:hover{
    /* background-image: url(./images/magdalenas-bakery-project.png); */
    background-size: cover;
    background-position: center;
    /* color: rgba(0, 0, 0, 0); */
    font-weight:bold;
    background-position: top;
    overflow-y: scroll;
}






/* contact section and links*/
#contact-me {
    font-size: 16px;
    font-family: 'Monserrat', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    left:0;
    right: 0;
    width:100%;
    /* padding: 200px 0px 70px 0px; */
    font-variant: small-caps;
}


h6{
    display: inline-block;
}
p{
    display: inline-block;
    text-align: center;
    font-weight: 100;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin:0;
}

i {
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    font-weight: 400;
    color:darkgrey;
}

.project-button{
    margin-bottom:45px;
    margin-top:5px
}
.project-button:hover{
    color: black;
    background-color: lightgrey;
    /* margin-top:5px; */
    /* margin-bottom: 15px; */
}


#contact-me>div {
    display: inline-block;
}

#contact-me>a {
    padding: 5px 0px 5px 0px;
    color: rgba(77, 76, 76, 0.836);
    letter-spacing: 3px;
    font-size: 12px;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
}

#contact-me>a>div:hover {
    color: black;
    background-color: var(--navhoverback);;
    border-radius: 2px;
    transition: 253ms ease;
}

#contact-me>a>div:visited {
    color: var(--navalink);
}

#contact-me>a>div:focus {
    background-color: var(--navhoverback);;
    color: var(--navalink);
    border-radius: 5px;
}

#contact-me>a>div:active {
    background-color: var(--navhoverback);;
    color: white;
}

footer{
    margin-bottom: 100px;
}

/* media queries for screen size */
@media screen and (max-width:915px){
    nav a {
        display: block;
        float: none;
    }
}

@media screen and (min-width:1075px){
    #contact-me a {
        display:inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        float: none;
        justify-items: center;
        align-items:center; 
    }
}